body {
  margin: 0;
  padding: 0;
}

#top-navigation {
  display: flex;
  flex-direction: row;
  height: 140px;
  padding: 8px;
  align-items: center;
  background-color: gray;
}

#top-navigation div {
  flex-grow: 1;
  text-align: center;
  font-size: 23px;
}

#top-navigation div span {
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-top: 5px;
}

#main-articles-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.top_text {
  top: 0;
  margin-top: 50px;
  left: 40%;
  position: absolute;
  text-align: center;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;  
}
.text_inside {
  background-color: #fff;
  padding: 10px;
}
#main-articles-wrapper article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 484.94px;
}

#main-articles-wrapper article h2 {
  display: inline-block;
}

#main-articles-wrapper article:nth-child(2) {
  height: 732px;
  background-color: #808080;
}

#main-articles-wrapper article:nth-child(3) {
  height: 732px;
  background-color: #8d8d8d;
}

#main-articles-wrapper article:nth-child(4){
  height: 732px;
  background-color: #737373;
}

#main-articles-wrapper article:nth-child(5){
  height: 732px;
  background-color: #808080;
}
.promotion {
  width: 100%;
  height: 490px;
}